<script type="text/javascript">
  CHARACTER_LIST = [
    'MINATO YUKINA',"IMAI LISA","HIKAWA SAYO","UDAGAWA AKO","SHIROKANE RINKO",
    'TOYAMA KASUMI ','HANAZONO TAE', 'USHIGOME RIMI ','YAMABUKI SAYA ','ICHIGAYA ARISA ',
    'MITAKE RAN ','AOBA MOCA ','UDAGAWA TOMOE ','UEHARA HIMARI ','HAZAWA TSUGUMI ',
    'MARUYAMA AYA ','HIKAWA HINA ','SHIRASAGI CHISATO ','YAMATO MAYA ','WAKAMIYA EVE ',
    'TSURUMAKI KOKORO ','SETA KAORU ','MATSUBARA KANON ','KITAZAWA HAGUMI ','OKUSAWA MISAKI ',
  ];

  function startShuffle(){
    random_character = CHARACTER_LIST[Math.floor((Math.random()*CHARACTER_LIST.length))];
    console.log(random_character)
    $('#character-name').html(random_character);
  };
  function setCharacter(character){
    $('#character-name').html(character);
    newQuantity = $("#"+character.replace(" ",'')).children().eq(1).text() *1 -1;
    $("#"+character.replace(" ",'')).children().eq(1).text(newQuantity);
  };

  $( document ).ready(function() {
      console.log( "ready!" );
      $("#gacha-button").on('click',function() {
        console.log('start shuffle')
        var timer = setInterval(startShuffle,500);
        $.ajax({
            type: "POST",
            url: '/card/draw/',
            contentType: 'application/json',
            headers: {
              'X-CSRF-Token': $('input[name=csrfmiddlewaretoken').val()
            },
            success: function(data){
                clearInterval(timer);
                if(!data){
                  setCharacter(data.character)
                } else {
                  window.alert("NOTHING LEFT");
                }
            },
            error: function(xhr, status, err) {
              window.alert("SORRY SOMETHING WENT WRONG");
            }
        });
        // setTimeout(function(){
        //   clearInterval(timer);
        // }, 10000);
      });
    });
</script>

<p id="notice"><%= notice %></p>

<h1>Working Cards</h1>

<hr/>
<div class='gacha-div invisiable'>
  <div class=''>
    <p id='character-name' class='character-name'></p>
  </div>
  <div class='btn-section'>
    <button type="button" id="gacha-button" class='btn-md'>draw</button>
  </div>
</div>
<hr/>
<div class='status-table'>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status.each do |character| %>
      <tr id='<%= character[0].delete(' ') %>'>
        <td><%= character[0] %></td>
        <td><%= character[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
