/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.homepage{
  .btn-lg{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .section-border{
    .section{
        width: 50vh;
        border: 1px solid #ccc!important;
        border-radius: 16px;
        margin: auto;
        padding: 25px;
        border-radius: 16px;
        margin-top: -1em;
    }
    .section-title{
      display: inline-block;
      background: white none repeat scroll 0 0;
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 0.35em;
      padding-bottom: 0.625em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      margin-bottom: -0.75em;
    }
  }
}

.drawing-page{
  .btn-back{
    font-size: 34px;
    position: absolute;
    top: 5px;
    color: #337ab7;
    left: 15px;
    padding-left: 15px;
  }
  .section-border{
    width: 50vh;
    border: 1px solid #ccc!important;
    border-radius: 16px;
    margin: auto;
    padding: 25px;
    border-radius: 16px;
  }
  .toggle-icon{
      margin-left: 4px;
  }
}
