<div class='homepage text-center'>
  <h1 class='page-title'> AniRevo 2019 Gachas</h1>

  <div class='section-border'>
    <h2 class='section-title'> BangDream! </h2>
    <div class='section'>
      <div>
        <%= link_to 'Staff Pass', working_cards_path , :class=> 'btn btn-lg btn-primary'%>
      </div>
      <div>
        <%= link_to 'Coaster', coasters_path , :class=> 'btn btn-lg btn-primary'%>
      </div>
    </div>
  </div>

  <div>
  </div>
  <div class='section-border'>
    <h2 class='section-title'> Admin </h2>
    <div class='section'>
      <div>
        <%#= link_to 'Backend', backend_path , :class=> 'btn btn-lg btn-secondary disabled'%>
        <%= link_to 'Backend', root_path , :class=> 'btn btn-lg btn-secondary disabled'%>
      </div>
    </div>
  </div>

</div>
