<div><h1 class='page-title'> AniRevo 2019 </h1></div>

<div>
  <%= link_to 'Staff Pass', working_cards_path , :class=> 'btn btn-md btn-primary'%>
</div>

<div>
  <%= link_to 'Coaster', coasters_path , :class=> 'btn btn-md btn-primary'%>
</div>

<div>
  <%= link_to 'Backend', backend_path , :class=> 'btn btn-md btn-secondary'%>
</div>
